body {
    background-color: #222222;
    color: #d0d0d0;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}

a,
a:hover,
a:focus,
a:active,
a:visited {
    text-decoration: none;
    color: #d0d0d0;
}

h1.msg {
    margin-top: 230px;
}

h1.msg,
h1.timing {
    margin-bottom: 60px;
    font-size: 70px;
}

input {
    border-radius: 2px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 25px;
    border: none;
    min-width: 400px;
    max-width: 600px;
    height: 50px;
    width: 75%;
    background-color: #262626;
    color: #d0d0d0;
    outline: none;
    margin-bottom: 20px
}

.icons a:not(:last-of-type) {
    margin-right: 20px;
    padding: 0;
}

a {
    padding-bottom: 2px !important;
    border-bottom: 1px solid transparent;
}

a:hover {
    border-bottom: 1px solid white;
    transition: all 0.3s ease !important;
}
